<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mall.mbg.mapper.AiChatMessageMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.mall.mbg.entity.AiChatMessage">
        <id column="id" property="id" />
        <result column="scene" property="scene" />
        <result column="session_id" property="sessionId" />
        <result column="user_id" property="userId" />
        <result column="user_type" property="userType" />
        <result column="role" property="role" />
        <result column="content" property="content" />
        <result column="create_time" property="createTime" />
    </resultMap>

</mapper>
