<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mall.mbg.mapper.MemberAddressMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.mall.mbg.entity.MemberAddress">
        <id column="id" property="id" />
        <result column="member_id" property="memberId" />
        <result column="receiver_name" property="receiverName" />
        <result column="receiver_phone" property="receiverPhone" />
        <result column="province" property="province" />
        <result column="city" property="city" />
        <result column="district" property="district" />
        <result column="detail_address" property="detailAddress" />
        <result column="default_flag" property="defaultFlag" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, member_id, receiver_name, receiver_phone, province, city, district, detail_address, default_flag, create_time, update_time
    </sql>

</mapper>
