<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mall.mbg.mapper.TxMessageMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.mall.mbg.entity.TxMessage">
        <id column="id" property="id" />
        <result column="biz_id" property="bizId" />
        <result column="topic" property="topic" />
        <result column="tag" property="tag" />
        <result column="message_body" property="messageBody" />
        <result column="status" property="status" />
        <result column="retry_count" property="retryCount" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, biz_id, topic, tag, message_body, status, retry_count, create_time, update_time
    </sql>

</mapper>
